.dashGridContainer {
  height: 100%;
  min-height:100vh;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 120px auto;
  background-color: rgb(247, 247, 247);
}

.btn:hover{
transform:scale(1.1)
}
.dashNav {
  /* width: 120px; */
  /* max-width: 170px; */
  /* display: flex; */
  overflow-y: auto;
  background-color: var(--medNavy);
  /* height: 100vh; */
  padding: 0;
  display: grid;
  display: -ms-grid;
  grid-column: 1;
}
.dashgridmain {
  grid-column: 2;
  display: grid;
  display: -ms-grid;
  grid-row-gap: 40px;
  grid-template-rows: 80px 300px 150px auto;
  padding: 0 3em;
}
.dashMainTitle {
  grid-row: 1;
  font-family: var(--headingFont);
  border-bottom: 5px solid var(--yellow);
  padding: 2em 0;

}
.dashMainTitle>.col-lg-8>h1{
line-height: .5em;
color: var(--gray)
}

[class*="dashRow-"] {
  grid-column: 1 / span 2;
}
.dashgridmain > div > .row {
  margin: 0;
}ˇ
.flex-column {
  align-items: center;
}
.navlogoDash {
  width: 90%;
  height: 100%;
}
.dashNavItem {
  height: 90px;
  /* display: flex; */
  text-align: center;
  margin: 5px 0;
  font-size: 0.95em;
  font-weight: 700;
}
.dashNavItem:hover {
  background-color: var(--yellow);
  transform: scale(1.1);
  font-weight: bolder;
}

.dashNav > .nav > .nav-item > .nav-link {
  align-self: center;
  padding: 0;
  color: var(--grey);
  font-family: var(--headingFont);
  font-size: 1em;
  height: 80px;
  padding: 0.6em 0.5em;
}
.dashNav > .nav > .nav-item > .nav-link:hover {
  color: var(--navy);
}
.navIcon {
  height: 45px;
  flex: 0 100%;
}
