@import url("https://fonts.googleapis.com/css?family=Arvo|Lato");
:root {
  --headingFont: "Arvo", serif;
  --paragraphFont: "Lato", sans-serif;
  --navy: #10316b;
  --medNavy: #0b409c;
  /* --yellow: #ffde25; */
  --yellow: #fdbe34;
  /* --lightyellow: #f2e175; */
  --grey: #f2f7ff;
  --red: #e50005;
  /* --yellow: #ffc107 */
}

/*//////////////////Top Header///////////*/
.header-main a:visited,
.header-main a:active,
.header-main a:link {
  text-decoration: none;
  color: white;
}

.header-section {
  position: relative;
  z-index: 99980;
  width: 100%;
  background-color: var(--yellow);
  /* height: 4vh; */
}
.header-top {
  width: 100%;
  height: 3vh;
  padding: 0 1.5vw 0 0;
  justify-content: flex-end;
  float: 1px;
}

.header-top > .nav-item > .nav-link {
  display: inline;
  color: var(--navy);
}
.header-main {
  background-color: var(--navy);
  height: 13vh;
  color: white;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.header-main > .col > a > h4 {
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: var(--headingFont);
  margin: 0 auto;
}

.header-main > .col > .fab {
  margin: 0 20px;
}
.fa *{
  color:var(--grey)
}
.fa-facebook-square:hover{
  color: #4867aa;
  transform:scale(1.2)
}

.fa-twitter:hover{
  color: #1ea0f1;
  transform:scale(1.2)
}

.fa-google-plus-square:hover{
  color: #db4437;
  transform:scale(1.2)
}


/*//////////////////Mid Landing Page Nav///////////*/
.navbar {
  background-color: var(--yellow);
}

.navlogoImg {
  /* position: absolute; */
  display: block;
  margin: -4vh auto 0;
  padding: 0;
  width: 24vh;
}

.nav-link {
  color: var(--navy);
}
.nav > .nav-item > .nav-link:hover{
  background-color: var(--yellow);
  transform: scale(1.1);
  font-weight: 600
}

.carousel-caption {
  background-color: var(--yellow);
  vertical-align: middle;
  position: absolute;
  /* bottom: 12vh; */
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height:400px;
  margin: 0 auto;
  z-index: 10;
  padding: 2vw 3vw;
  color: var(--navy);
  text-align: center;

}

.carousel-caption > h1 {
  font-family: var(--headingFont);
  color: var(--red);
  font-size:calc(100% + 1.5vw)

}

.carousel-caption > p
 {
  font-size:calc(10% + 1.5vh)

}

.slider-btn {
  color: var(--grey);
  font-size: .9em;
  background-color: var(--medNavy);
  font-family: var(--headingFont);
  width: 9em;
  margin: 0 auto;

}

/*//////////////////LANDING PAGE ENROLL SECTION///////////*/
.enroll-box {
  width: 50%;
  height: 300px;
  background-color: var(--medNavy);
}
.transparent-wrapper {
  width: 65%;
  height: 10em;

  border-radius: 5px;
  margin-top: 5em;
  text-align: center;
}

.transparent-wrapper.one {
  padding: 1em 2em 2em;
  text-align: right;
  margin-left: 35%;
  background: var(--medNavy);
}
.transparent-wrapper.one > a > .btn,
.transparent-wrapper.two > a > .btn {
  font-family: var(--headingFont);
}
.transparent-wrapper.two {
  padding: 1em 2em 2em;
  text-align: left;
  background: var(--navy);
}

.transparent-wrapper.two h3,
.transparent-wrapper h3 {
  color: var(--yellow);
}

.transparent-wrapper p {
  color: white;
}

.other-box {
  width: 50%;
  height: 300px;
  background-color: var(--navy);
  /* border-left: 1px solid var(--grey); */
}

.aboutUs-box {
  text-align: center;
  padding: 10vh 0px 10vh;
}

.aboutUs-box > h2 {
  font-size: 2.5em;
  font-family: var(--headingFont);
  color: var(--navy);
  /* padding-top:25px */
}
.aboutUs-box > p {
  padding: 30px 20vw;
  color: grey;
  font-size: 1.5em;
  line-height: 1.7em;
}

.buttonText {
  font-family: var(--headingFont);
  color: var(--medNavy) !important;
  font-size: 1.2em;
}
.aboutImg {
  padding: 0 0 4vh;
}

.elem-high {
  margin: 7vh 0 0;
  text-align: center;
  padding: 15vh 0;
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

.text-left > a > .btn-md,
.text-right > a > .btn-md {
  background-color: var(--medNavy);
  font-family: var(--headingFont);
}

.text-left > .nav-link,
.text-right > .nav-link {
  padding: 0;
}
h3 {
  font-family: var(--headingFont);
}

p {
  font-family: var(--paragraphFont);
  font-size: 1.1em;
}

.event-container {
  padding: 0;
  background-image: linear-gradient(
    to top,
    var(--navy) 0%,
    var(--medNavy) 10%,
    #ffffff 50%
  );
}
/* .white-filler {
 
  height: 200px;
  background: linear-gradient(white, 10%, transparent);
} */
.events-sec {
  padding: 25vh 0 0;
  /* border: 1px solid green; */
  /* background-image: url("https://res.cloudinary.com/matsi/image/upload/v1544420399/Toledo/chalkboard-3655846_1920.jpg"); */
  object-fit: cover;
  height: 80vh;
}
.events{
  margin: 0 auto;
}

.events >.text-center> .nav-link> .btn-md{
  background-color: var(--medNavy);
  font-family: var(--headingFont);
}
.hands {
  float: right;
  margin: 0 10vw 0 0;
}
